/* 
@media only screen and (min-width: 1200px){
	.container {
		width: 1200px;
	}

} */
@media only screen and (max-width: 1400px) {
	.exam-card-2 .exam-botton {
		gap: 5px;
	}
	.exam-card-2 .exam-botton a { 
		font-size: 14px; 
		padding: 7px; 
	}
	
}
@media only screen and (max-width: 1200px) {
	.slider_controlar i.prev::after { 
		width: 150px; 
	}
	.slider_controlar i.next::after { 
		width: 150px; 
	}
	.exam-botton { 
		gap: 5px; 
	}
	.exam-card .exam-botton a { 
		font-size: 14px; 
		padding: 7px; 
	}
	
}
@media only screen and (min-width:1200px){
	.course-details-section .sticky {
		position: sticky;
		top: 80px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1400px) {
	 /* Admission-Course */
	.banner-item {
		padding: 55px 0;
	}

	.admission-card-wrap {
		padding: 55px 0 10px;
	}

	.course-card {
		margin-bottom: 40px;
	}

	.pagination .page-item .page-link {
		width: 59px;
		height: 47px;
		font-size: 20px;
	}
	/* ====Exam-page-Start===== */
	.upc-nxt-exm {
		margin-bottom: 50px;
	} 
	/* ====Exam-page-End======= */
}

@media only screen and (min-width: 992px) and (max-width: 1199px) { 
	.header-horizontal-menu .menu-content li a {
		padding: 0 10px;
		font-weight: 400;
		font-size: 16px;
	} 
	.social-buttons {
		display: flex;
		justify-content: center;
		column-gap: 24px;
		margin-top: 24px;
	}
	.social-buttons .button-item { 
		flex-basis: 50%;
	}
	.social-buttons .button-item.youtube { 
		margin-bottom: 0px;
	}
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
	.slider_controlar i.prev::after { 
		width: 100px; 
	}
	.slider_controlar i.next::after { 
		width: 100px; 
	}
	/* ====Exam-page-Start===== */
	.upc-nxt-exm {
		margin-bottom: 50px;
	}
	.exam-card .exam-botton a {
		font-size: 14px;
		padding: 10px;
	}
	/* ====Exam-page-End======= */
}

@media all and (max-width:991px) {
	.header-bottom {
		padding: 10px 0;
	}
	.mobile-logo a img {
		width: 100px;
		margin: 0 auto;
		display: flex;
		padding: 10px;
	} 	
	.hero-left {
		text-align: center;
	}
	.hero-left .home-menu .home-menu-wrapper { 
		justify-content: center;
	}
	.mentor-wrapper .mentors {
		padding: 0;
	}
	.mentor-section {
		padding: 60px 0 120px;
	}
	.mentor-wrapper .slider_controlar i {
		top: 120%;
	}
	.mentor-wrapper .slider_controlar i.prev {
		left: 42%;
	}
	.mentor-wrapper .slider_controlar i.next {
		right: 42%;
	} 
	.callCenter-section .call-detail-wrap .call-text {
		width: 100%;
	}
	.social-buttons { 
		margin-top: 24px;
	}
	.page-header { 
		padding: 50px 0;
	}
	.switcher-section .icon-area .login::after { 
		width: 96%; 
	}
	.switcher-section .title-area .order-confirmation, .switcher-section .title-area .login, .switcher-section .title-area .payment {
		flex-basis: 25%;
	}

	/* Admission-Course */
	.banner-item {
		padding: 50px 0;
	}

	.admission-card-wrap {
		padding: 55px 0 10px;
	}

	.course-card {
		margin-bottom: 40px;
	}

	.course-card .card-title {
		margin-top: 20px;
	}

	.pagination .page-item .page-link {
		width: 55px;
		height: 45px;
		font-size: 19px;
	}

	/* ===Notes-page-Start== */
	.notes {
		padding: 55px 0 28px;
	}

	.notes .notes-button {
		margin-bottom: 32px;
	}

	.notes-item-wrap {
		margin-bottom: 10px;
	}

	/* ====About-Us-page-Start==== */
	.about-us {
		padding: 60px 0;
	}

	.about-us-text {
		margin-left: 0px;
	}

	.about-us-text h2 {
		margin: 32px 0;
	}

	.vission-mission {
		padding: 50px 0 18px;
	}

	.vission-mission-card {
		margin-bottom: 32px;
	}

	.vission-mission-card h3 {
		margin-bottom: 20px;
	}

	.start-learning {
		padding: 50px 0;
	}

	.start-learn-text p {
		margin: 28px 0;
	}

	/* ====Exam-page-Start===== */
	.exam {
		padding: 55px 0;
	}

	.upc-nxt-exm {
		margin-bottom: 50px;
	}
	/* ====Exam-page-End======= */
	/* =====Leader-Board-Start==== */
	.leader-board{
		padding: 55px 0;
	}

	/* profile page */
	.output-tab.nav-tabs .nav-link { 
		padding: 0.5rem 5px 8px 8px;
	}
	.button_navv2 .edit_icon { 
		padding: 5px 10px; 
	}
	 
}

@media (max-width: 767px) {
	 
	h2 {
		font-size: 30px;
	}

	.pt-20 {
		padding-top: 10px;
	} 
	.slider_controlar { 
		margin-bottom: 20px;
	}	 
	.footer_section .widget_title {
		font-size: 20px; 
		margin-bottom: 25px;
		margin-top: 30px;
	}
	.footer-widget-1 p { 
		margin: 32px 0px 32px 0;
	}
	.footer_section {
		padding: 50px 0 30px;
	}
	.hero-section { 
		padding: 30px 0; 
	}
	.speciality-section { 
		padding: 40px 0; 
	}

	.mentor-wrapper .mentors .mentor-item { 
		flex-direction: column;
		justify-content: center;
	}
	.mentor-wrapper .mentors .mentor-item .right {
		text-align: center;
		margin-top: 20px;
	}
	.mentor-wrapper .mentors .mentor-item .left {
		margin-right: 0;
	}
	.mentor-wrapper .slider_controlar i {
		top: 110%;
	}
	.mentor-wrapper .slider_controlar i.prev {
		left: 40%;
	}
	.mentor-wrapper .slider_controlar i.next {
		right: 40%;
	}
	.callCenter-section .call-detail-wrap { 
		padding: 30px 35px;
	}
	.course-details-section {
		padding: 40px 0;
	}
	.switcher-section .icon-area .login::after {
		width: 95%;
	}
	.switcher-section {
		padding: 40px 0;
	}

	/* Admission-Course */
	.banner-item {
		padding: 40px 0;
	}

	.admission-all-button a {
		font-weight: 500;
		padding: 12px 8px;
	}

	.admission-card-wrap {
		padding: 50px 0 10px;
	}

	.course-card {
		margin-bottom: 36px;
	}

	.pagination .page-item .page-link {
		width: 50px;
		height: 42px;
		font-size: 18px;
	}

	.pagination-item {
		padding-bottom: 50px;
	}

	/* ===Notes-page-Start== */
	.notes {
		padding: 50px 0 18px;
	}

	.notes-item-wrap {
		margin-bottom: 10px;
	}

	.notes .notes-button {
		gap: 20px;
		margin-bottom: 35px;
	}

	.notes .notes-button a {
		width: 151px;
		height: 50px;
		line-height: 50px;
	}

	/* ====About-Us-page-Start==== */
	.about-us {
		padding: 50px 0;
	}

	.about-us-text {
		margin-left: 0;
	}

	.about-us-text h2 {
		font-size: 28px;
		margin: 28px 0;
	}

	.vission-mission {
		padding: 45px 0 17px;
	}

	.vission-mission-title h2 {
		font-size: 28px;
		margin-bottom: 28px;
	}

	.vission-mission-card {
		padding: 28px;
		margin-bottom: 28px;
	}

	.vission-mission-card h3 {
		margin-bottom: 24px;
	}

	.start-learning {
		padding: 45px 0;
	}

	.start-learn-text h2 {
		font-size: 28px;
	}

	.start-learn-text p {
		margin: 28px 0;
	}

	.start-learn-image {
		text-align: center;
		margin-bottom: 28px;
	}

	/* ====Exam-page-Start===== */
	.exam {
		padding: 50px 0;
	}

	.upc-nxt-exm {
		margin-bottom: 45px;
	}
	.exam-botton { 
		gap: 10px; 
	}
	/* ====Exam-page-End======= */
	/* =====Leader-Board-Start==== */
	.leader-board{
		padding: 50px 0;
	}
	.leader-input-wrap input {
		padding: 20px;
		padding-right: 60px;
	}
	.result-section { 
		padding: 40px 0;
	}

	/* profile page */
	.active_info-all { 
		flex-direction: column;
	}
	.on_info {
		width: 100%; 
	}
	.output-all-info .output-nav { 
		align-items: flex-start; 
		flex-direction: column;
		row-gap: 8px;
	}
}

@media all and (max-width:575px) { 
	.slider_controlar i.prev::after { 
		width: 100px; 
	}
	.slider_controlar i.next::after { 
		width: 100px; 
	} 
	.hero-left .title { 
		font-size: 55px; 
		line-height: 50px;
	}
	.speciality-section .section-title {
		width: 460px;
		margin: 0px auto 40px; 
	}
	.specialities .speciality-item { 
		margin-bottom: 12px;
	}
	.mentor-section .section-title { 
		margin-bottom: 30px;
	}
	.mentor-section {
		padding: 40px 0 110px;
	}
	.callCenter-section {
		padding: 40px 0; 
	}
	.social-buttons {
		margin-top: 15px;
	}
	.social-buttons .button-item.youtube { 
		margin-bottom: 15px;
	}
	.social-buttons .button-item .item-text .join-btn { 
		font-size: 14px; 
	}
	.social-buttons .button-item { 
		padding: 25px;
	}
	.page-header {
		padding: 30px 0;
	}
	.page-header .page-title { 
		font-size: 25px; 
	}
	.course-sidebar .course-info { 
		flex-direction: column;
		row-gap: 5px;
	}
	.course-sidebar .course-thumbnail { 
		margin-bottom: 20px;
	}
	.course-sidebar .enroll-button {
		margin: 20px 0;
	}
	.course-sidebar .details-call { 
		margin-bottom: 0px;
	}
	.student-reviews {
		padding: 0; 
	}
	.student-reviews .slider_controlar { 
		padding: 20px 0;
	} 
	.student-reviews .slider_controlar i { 
		top: 0%; 
	}
	.student-reviews .slider_controlar i.prev{
		left: 44%;
		transform: translateX(-50%);
	}
	.student-reviews .slider_controlar i.next {
		right: 44%;
		transform: translateX(50%);
	}
	.page-header .content-area .duration-mark { 
		gap: 15px;
		margin-top: 24px;
		flex-direction: column;
		align-items: center;
	}
	.timer-area .timer-buttons .button {
		padding: 10px; 
	}
	.question-item { 
		padding: 20px;
		margin-bottom: 15px;
	}
	.question-item .question-options .option-item label { 
		padding: 8px;
		margin: 0px 0px -10px 0px;
	}
	.question-btn .submit-btn {
		padding: 12px; 
	}
	.solution-item { 
		padding: 20px; 
	}
	.solution-item .solution-options .option-item {
		padding: 10px; 
		margin-bottom: 15px;
	}
	.solution-item .solution-bottom .wrong, .solution-item .solution-bottom .correct {
		padding: 6px; 
	}
	.solution-btn .submit-btn {
		padding: 12px; 
	} 
	.newsroom-section {
		padding: 40px 0;
	}
	.single-news {
		padding: 20px; 
	}
	.newsroom-bottom .news-btns-count {
		padding: 15px 0; 	
	}
	.newsroom-bottom .news-btns { 
		padding: 10px 0;
	}
	.newsroom-bottom .news-comment-box textarea { 
		padding: 15px 10px 0px; 
	}
	/* Admission-Course */
	.banner-item {
		padding: 35px 0;
	}

	.admission-card-wrap {
		padding: 40px 0 10px;
	}

	.admission-all-button a {
		padding: 10px 8px;
	}

	.course-card .card-title {
		margin-top: 16px;
	}

	.course-card .card-title h3 {
		font-size: 18px;
	}

	.pagination-item {
		padding-bottom: 40px;
	}

	.pagination .page-item .page-link {
		width: 38px;
		height: 38px;
		font-size: 17px;
	}
	

	/* ===Notes-page-Start== */
	.notes {
		padding: 40px 0 18px;
	}

	.notes .notes-button {
		gap: 12px;
		margin-bottom: 32px;
	}

	.notes .notes-button a {
		width: 100%;
		height: 55px;
		line-height: 55px;
		font-size: 15px;
	}

	.notes-item-wrap {
		margin-bottom: 12px;
	}

	.notes-item-wrap .single-notes {
		padding: 20px 15px;
	}

	/* ====About-Us-page-Start==== */
	.about-us {
		padding: 40px 0;
	}

	.about-us-text {
		margin-left: 0;
	}

	.about-us-text h2 {
		font-size: 22px;
		margin: 24px 0;
	}

	.about-us-text p {
		font-size: 14px;
	}

	.vission-mission {
		padding: 40px 0 16px;
	}

	.vission-mission-title h2 {
		font-size: 22px;
	}

	.vission-mission-card {
		padding: 24px;
	}

	.vission-mission-card h3 {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.vission-mission-card p {
		font-size: 14px;
	}

	.vission-mission-card {
		margin-bottom: 24px;
	}

	.start-learning {
		padding: 40px 0;
	}

	.start-learn-text h2 {
		font-size: 22px;
	}

	.start-learn-text p {
		font-size: 14px;
		margin: 24px 0;
	}

	.start-learn-text .start-btn a {
		margin-bottom: 24px;
	}

	/* ====Exam-page-Start===== */
	.exam {
		padding: 40px 0;
	}

	.upc-nxt-exm {
		margin-bottom: 40px;
	}

	.upc-nxt-exm a {
		height: 50px;
		line-height: 50px;
	}

	.form-option .input-group-wrap input,
	.form-option select {
		padding: 12px;
	}

	.exam-card .exam-card-title {
		font-size: 18px;
	}

	.exam-card .exam-date {
		margin: 20px 0;
	}

	.exam-card .total-marks {
		margin: 20px 0;
	}
	/* ====Exam-page-End======= */

	/* =====Leader-Board-Start==== */
	.leader-board{
		padding: 40px 0;
	}
	.leader-input-wrap input {
		padding: 15px;
		padding-right: 57px;
	}
	.leader-input-wrap .input-text {
		padding: 6px 21px 6px 14px;
	}
	.board-profile {
		margin-top: 15px;
		padding: 8px;
	}
	.board-profile .profile-image {
		margin: 0 8px;
	}
	.profile-discription h3 {
		margin-bottom: 8px;
	}
	.profile-discription p{
		font-size: 14px;
	}
	.board-profile .right-content .mark {
		padding: 5px 8px;
	}
	.course-dashboard-wrap .course-dashboard-header {
		padding: 20px 20px; 
	}
	.course-dashboard-wrap {
		padding: 30px 0 30px;
	}
	.result-section { 
		padding: 20px 0;
	}
}

@media all and (max-width:520px) {
	.desktop_logo img {
		width: 80px;
	}
	.menu-buttons { 
		column-gap: 10px;
	}
	.menu-buttons .mode img {
		width: 30px; 
	}
	.course-dashboard-wrap .swithcer .prev, .course-dashboard-wrap .swithcer .next { 
		font-size: 15px; 
	}
}

@media all and (max-width:490px) {
 
	.mobile-logo a img {
		width: 120px;
	}

	.mobile-logo a img {
		width: 83px;
		margin: 0 auto;
		display: flex;
		padding: 10px;
	}
	.hero-left .home-menu .menu-item {   
		padding: 6px;
		margin-bottom: 18px;
		min-height: 145px;
		width: 110px; 
	}
	.hero-left .home-menu {
		margin-top: 35px;
	}
	.speciality-section .section-title {
		width: 100%;
		padding: 0 10px; 
	}
	.mentor-wrapper .slider_controlar i.prev {
		left: 35%;
	}
	.mentor-wrapper .slider_controlar i.next {
		right: 35%;
	}
	.menu-buttons .phone,
	.menu-buttons .auth-link .login{
		font-size: 12px;
	}
	.menu-buttons .language select{
		font-size: 12px;
	}
	.menu-buttons .mode img {
		width: 25px;
	}

	.student-reviews .slider_controlar i.prev{
		left: 43%; 
	}
	.student-reviews .slider_controlar i.next {
		right: 43%; 
	}
	.switcher-section .icon-area .login::after {
		width: 93%;
	}
	.switcher-section .title-area h4 { 
		font-weight: 500;
		font-size: 14px; 
	}
	
	/* ====Exam-page-Start===== */
	.exam .form-option {
		display: block;
	}

	.form-option .input-group-wrap input,
	.form-option select {
		width: 100%;
	}

	.form-option select {
		margin-top: 24px;
	}

	.exam-card .exam-botton a {
		padding: 10px;
		font-size: 14px;
	}
	/* ====Exam-page-End===== */
	/* =====Leader-Board-Start==== */
	.board-profile{
		width: 500px;
	}
	.student_output-header { 
		display: block; 
		text-align: center;
	}
	.student_output-header .student_output-img {  
		margin-bottom: 30px;
		margin-right: 0;
	}
}